p,
span {
  color: white;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

#box1 {
  border-bottom-right-radius: 0px;
}

#title1 {
  margin-top: -20px;
}

.info {
  background: white;
  border-radius: 5px;
  width: 60vw;
  padding: 10px;
}

.info span,
.info p {
  color: #1d1c25;
}

.info h3 {
  text-align: center;
}

.info img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 40%;
}

.color1 {
  margin: 8px;
}

.color2 {
  padding: 20px;
  height: 1400px;
}

.color2 img {
  display: inline-block;
  height: 600px;
}

.color2 .info {
  width: calc(80vw - 400px);
  display: inline-block;
  position: relative;
  top: -400px;
}

#color3 {
  padding: 20px;
}

#color4 {
  padding: 20px;
}

#color4 img {
  width: 80vw;
}

#color4 .info {
  margin: 50px;
}

#color5 {
  padding: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.front {
  position: relative;
  z-index: 1;
}

.back {
  position: relative;
  z-index: -1;
}

#img3 {
  float: left;
}

#img4 {
  float: right;
}

* {
  font-family: "Nunito", sans-serif;
}

h3,
h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  color: #f26666;
}

#title1 {
  display: inline-block;
}

h3 {
  font-size: 2em;
  display: block;
  text-align: center;
  width: 100%;
}

h1 {
  background: -webkit-linear-gradient(45deg, #f26666 40%, #a64b63 56%);
  background-clip: text;
  font-size: 96px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: #1d1c25;
  margin: 0;
}

body #make_a_braid {
  position: relative;
  right: -700px;
  top: 200px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body #braid {
  width: 80vw;
  height: 300px;
  margin-top: 50px;
  left: 10vw;
}

body #braid div {
  margin-bottom: 20px;
}

.throughline {
  width: 6px;
  position: absolute;
}

#line1 {
  background: #f26666;
  height: 157px;
  top: 0px;
  left: 200px;
}

#line2 {
  background: #f26666;
  height: 6px;
  width: calc(50vw - 360px);
  top: 151.4px;
  left: 200px;
}

#line3 {
  background: #a64b63;
  height: 6px;
  left: calc(50vw + 170px);
  top: 151.4px;
  width: calc(50vw - 215px);
}

#line4 {
  background: #a64b63;
  height: 379.6px;
  right: 25px;
  top: 151.4px;
}

#line5 {
  background: #a64b63;
  width: 15vw;
  height: 6px;
  right: calc(15vw - 230px);
  top: 525px;
}

#line6 {
  background: #a64b63;
  height: 219px;
  right: 285px;
  top: 525px;
}

#line7 {
  background: #a64b63;
  top: 738.4px;
  right: 285px;
  width: 50px;
  height: 6px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: linear-gradient(45deg, #a64b63, #f26666, #f2785c, #f2ab6d, #f2d888);
  height: 2px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: linear-gradient(45deg, #a64b63, #f26666, #f2785c, #f2ab6d, #f2d888);
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  background: none;
}

input[type="range"].bColor1::-webkit-slider-thumb {
  border-color: #a64b63;
}

input[type="range"].bColor1::-moz-range-thumb {
  border-color: #a64b63;
}

input[type="range"].bColor2::-webkit-slider-thumb {
  border-color: #f26666;
}

input[type="range"].bColor2::-moz-range-thumb {
  border-color: #f26666;
}

input[type="range"].bColor3::-webkit-slider-thumb {
  border-color: #f2785c;
}

input[type="range"].bColor3::-moz-range-thumb {
  border-color: #f2785c;
}

input[type="range"].bColor4::-webkit-slider-thumb {
  border-color: #f2ab6d;
}

input[type="range"].bColor4::-moz-range-thumb {
  border-color: #f2ab6d;
}

input[type="range"].bColor5::-webkit-slider-thumb {
  border-color: #f2d888;
}

input[type="range"].bColor5::-moz-range-thumb {
  border-color: #f2d888;
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}
/*# sourceMappingURL=style.css.map */