$yellow: #f2d888;
$dark: #a64b63;
$background: #f2ab6d;
$orange: #f2785c;
$pink: #f26666;
$background-color: #1d1c25;

p,
span {
  color: white;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#box1 {
  border-bottom-right-radius: 0px;
}

#title1 {
  margin-top: -20px;
}

.info {
  background: white;
  border-radius: 5px;
  width: 60vw;
  padding: 10px;

  span,
  p {
    color: $background-color;
  }

  h3 {
    text-align: center;
  }

  img {
    flex: 1;
    width: 40%;
  }
}
.color1 {
  margin: 8px;
}
.color2 {
  //background: linear-gradient($yellow 0%, $background 25%);
  padding: 20px;
  height: 1400px;

  img {
    display: inline-block;
    height: 600px;
  }

  .info {
    width: calc(80vw - 400px);
    display: inline-block;
    position: relative;
    top: -400px;
  }
}

#color3 {
  //background: linear-gradient($background 0%, $orange 25%);
  padding: 20px;
}

#color4 {
  //background: linear-gradient($orange 0%, $pink 25%);
  padding: 20px;

  img {
    width: 80vw;
  }

  .info {
    margin: 50px;
  }
}
#color5 {
  //background: linear-gradient($pink 0%, $dark 25%);
  padding: 20px;
}
.left {
  float: left;
}

.right {
  float: right;
}

.front {
  position: relative;
  z-index: 1;
}

.back {
  position: relative;
  z-index: -1;
}

#img3 {
  float: left;
}

#img4 {
  float: right;
}

* {
  font-family: "Nunito", sans-serif;
}

h3,
h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  color: $pink;
}

#title1 {
  display: inline-block;
}

h3 {
  font-size: 2em;
  display: block;
  text-align: center;
  width: 100%;
}

h1 {
  background: -webkit-linear-gradient(45deg, $pink 40%, $dark 56%);
  background-clip: text;
  font-size: 96px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: $background-color;
  margin: 0;
  #make_a_braid {
    position: relative;
    right: -700px;
    top: 200px;
    transform: rotate(-90deg);
  }
  #braid {
    div {
      margin-bottom: 20px;
    }

    width: 80vw;
    height: 300px;
    margin-top: 50px;
    left: 10vw;
  }
}

.throughline {
  width: 6px;
  position: absolute;
}

#line1 {
  background: $pink;
  height: 157px;
  top: 0px;
  left: 200px;
}

#line2 {
  background: $pink;
  height: 6px;
  width: calc(50vw - 360px);
  top: 151.4px;
  left: 200px;
}

#line3 {
  background: $dark;
  height: 6px;
  left: calc(50vw + 170px);
  top: 151.4px;
  width: calc(50vw - 215px);
}

#line4 {
  background: $dark;
  height: 379.6px;
  right: 25px;
  top: 151.4px;
}

#line5 {
  background: $dark;
  width: 15vw;
  height: 6px;
  right: calc(15vw - 230px);
  top: 525px;
}
#line6 {
  background: $dark;
  height: 219px;
  right: 285px;
  top: 525px;
}
#line7 {
  background: $dark;
  top: 738.4px;
  right: 285px;
  width: 50px;
  height: 6px;
}

////////

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: linear-gradient(
    45deg,
    $dark,
    $pink,
    $orange,
    $background,
    $yellow
  );
  height: 2px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: linear-gradient(
    45deg,
    $dark,
    $pink,
    $orange,
    $background,
    $yellow
  );
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: $background-color;
  cursor: -webkit-grab;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: $background-color;
  cursor: -moz-grab;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  background: none;

  &.bColor1 {
    &::-webkit-slider-thumb {
      border-color: $dark;
    }
    &::-moz-range-thumb {
      border-color: $dark;
    }
  }
  &.bColor2 {
    &::-webkit-slider-thumb {
      border-color: $pink;
    }
    &::-moz-range-thumb {
      border-color: $pink;
    }
  }
  &.bColor3 {
    &::-webkit-slider-thumb {
      border-color: $orange;
    }
    &::-moz-range-thumb {
      border-color: $orange;
    }
  }
  &.bColor4 {
    &::-webkit-slider-thumb {
      border-color: $background;
    }
    &::-moz-range-thumb {
      border-color: $background;
    }
  }
  &.bColor5 {
    &::-webkit-slider-thumb {
      border-color: $yellow;
    }
    &::-moz-range-thumb {
      border-color: $yellow;
    }
  }
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}
